<p id="notice"><%= notice %></p>

<h1>Users</h1>
<% if @users.length %>
  <table class="table table-striped">
    <tr>
      <th scope="column">Name</th>
      <th scope="column">Email</th>
    </tr>
    <% @users.each do |user| %>
      <colgroup>
          <col class="col-md-4">
          <col class="col-md-7">
      </colgroup>
      <tbody>
      <tr class="themed-grid-col">
          <td scope="row"><%= user.name %></td>
          <td scope="row"><%= user.email %></td>
          <td scope="row"><%= link_to "Destroy", user, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
      </tbody>
    <% end %>
  </table>
<% end %>

      
<br>

<%= link_to 'New User', new_user_path %>
