<!DOCTYPE html>
<html>
  <head>
      <title>Youngsphere</title>
      <meta charset="utf-8">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js" integrity="sha512-WZ3VAWLJDOQRwRtR4nkn7g7Fb+TSDtdpdQdJgM5tSn82RKD/O84EqMPKqvF+3ypk5+IErlevC4WpbdbRG65uIg==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css" integrity="sha512-87wkTHUArAnTBwQ5XL6+G68i54R3TXYDZoXewRsdhIv/ztcEr2Z1Mrk+aXBCKOZUtih0XWiBhXv3/bWjHTL2Bw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css" integrity="sha512-htNvyHHSudmoBXn6EWHJNChOqj6bjdATOD9Cj63VcJKtonHBnWZmTiYaI+tUzVv4dZlE+SaWjoq6mhL3ztfAJg==" crossorigin="anonymous" />
    <style>
      body {
       padding-top: 0px !important;
      }
    </style>
  </head>
  <body class="sidebar-mini">
      <%= render partial: "layouts/header" %>
      <div class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
          <%= render partial: "layouts/footer" %>
      </div>
  <%= render partial: "shared/cookie_banner" %>
</body>
</html>
